<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Simple Course allocation solution
			</p>
		</div>
		<div class="row">
			<p>
				 <a class="btn btn-primary btn-lg" href="/signin" target="_blank">Sign In</a> to continue
			</p>
		</div>
	</div>
	<br>nodejs &amp; meanjs,
	<br>Powered
</section>
